.h1, h2, h3, h4, h5, h6{
    font-family: 'Acme', sans-serif;
}

.jumbotron {
    padding-top: 2rem;
    background-color: #ACFFAD;
}

.namehead{
    font-size: 50px;
}

#organization{
    padding: 4rem 0rem;
    background-color: #ACFFAD;
}

.tombolup{
    right: 30px;
    bottom: 30px;
    position: fixed;
}